*~
*.map
a.out.*

tiff-*
zlib-*
*.o
\#*
.\#*
*.swp
jpeg-9b/
jpeg-9c/
*.tar.gz

tiff.raw.js
tiff.raw.wasm
tiff.min.js
tiff_tag.*

node_modules/
out/libtiff-wasm.raw.js
.gitignore
out/libtiff-wasm.raw.wasm
